body,
*:before,
*:after {
  background-color: #1f1e30;
  font-family: "PT Sans Caption";
}
.jumbotron {
  max-height: 180px;
  background-size: cover;
  margin-bottom: 0;
  background-image: url("../img/headerimg.jpg");
}
.jumbotron > h1,
p {
  color: #c553e9;
}
.navbar {
  background-color: #28293d;
  height: 80px;
}
.navbar > li,
a {
  color: #c553e9;
}
.navbar > li:hover,
a:hover {
  color: #a6a6a6;
}
.row {
  text-align: right;
}
footer {
  bottom: 0;
  right: 0;
  padding-bottom: 3px;
  padding-right: 10px;
  position: fixed;
}
